html {
    position: relative;
    min-height: 100%;
}

body {
    height: 100%;
    /*background-color: #FF5722;*/
    background-color: #ECEFF1;
    margin: 0 0 200px;
}

div, h1, input, img {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100%;
}

.player_playlist_container {
    /*display: inline-block;*/
    width: 85%;
    height: 500px;
    /*background-color: purple;*/
    margin-left: 14%;
}

.player_container {
    /*padding-left: 20%;*/

    display: inline-block; 
    position: relative;
    /*left: 16%;*/
    width: 640px;
    right: 2%;
    float: left;
    /*background-color: orange;*/
}

.playlist_container {
    display: inline-block; 
    /*float: left;*/
    /*left: 2%;*/
    position: relative;
    top: 35px;
    width: 500px;
    /*background-color: blue;*/
}

.list_of_playlists {
    width: 500px;
    /*left: 3%;*/
}


.player {
    width: 640px;
    height: 549px;
    margin-top: 35px;
    float: right;
    /*margin-left: 10%;*/
    /*margin-right: 25%;*/
    /*display: inline-block;*/
}

.player__video {
    max-width: 100% ;
}

.player__song_details {
    margin-top: 10px;
}

.player__song_details_left {
    float: left;
    width: 440px;
    height: 176px;
}

.player__song_title {
    overflow: hidden;
    position: relative;
    font-size: 28px;
    font-weight: 500;
    height: 34px;
    width: 440px;
}

.player__song_details_right {
    height: 176px;
}

.player__song_details_right img {
    height: 176px;
    width: 192px;
    float: right;
}

.player__volume {
    padding-top: 15px;
    position: relative;
}

.player__loading_container {
    padding-top: 15px;
    position: relative;
}

.player__loading {
    padding: 0;
    margin: 0;
    width: 440px;
    height: 13px;
    background-color: #afbec5;
}

.player__loading__progress {
    padding: 0;
    margin: 0;
    width: 0px;
    height: 13px;
    background-color: #1e2a2f;
}

.prev_next_btn {
    margin-top: 10px;
}

/*PLAYER CONTROLS*/
.player_controls_container {
    width: 440px;
    display: inline-flex;
    position: absolute;
    bottom: 0;
}

.player_controls_prev {
    cursor: default;
    width: 33.3%;
    height: 55px;
    line-height: 55px;
    text-align: center;
    vertical-align: middle; 
    background-color: #131d20;
    color: #ECEFF1;
}

.player_controls_prev:hover {
    background-color: #263238;
}

.player_controls_next {
    cursor: default;
    width: 33.3%;
    height: 55px;
    line-height: 55px;
    text-align: center;
    vertical-align: middle; 
    background-color: #131d20;
    color: #ECEFF1;
    border-left: 3px solid #263238;
    border-right: 3px solid #263238;    
}

.player_controls_next:hover {
    background-color: #263238;
}

.player_controls_restart {
    cursor: default;
    width: 33.3%;
    height: 55px;
    line-height: 55px;
    text-align: center;
    vertical-align: middle; 
    background-color: #131d20;
    color: #ECEFF1;
}

.player_controls_restart:hover {
    background-color: #263238;
}
