html, body {
    background-color: #ECEFF1;
}

div, h1, input, img {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    background-color: #ECEFF1;
}

.playlist_form {
    margin-top: 60px;
    text-align: center;
}

.player {
    max-width: 640px;
    margin-top: 35px;
    margin-left: 10%;
    /*margin-right: 25%;*/
    position: relative;
    display: inline-block;
}

.player__video {
    max-width: 100% ;
}

.player__song_details {
    margin-top: 10px;
}

.player__song_details_left {
    float: left;
    width: 440px;
}

.player__song_details_left h1 {
    font-size: 33px;
    font-weight: 500;
}

.player__song_details_left input {
    margin-top: 10px;
}

.player__song_details_right img {
    height: 176px;
    width: 192px;
    float: right;
}

.player__loading {
    padding: 0;
    margin: 0;
    width: 405px;
    height: 13px;
    background-color: #ECEFF1;
}

.player__loading__progress {
    padding: 0;
    margin: 0;
    width: 0px;
    height: 13px;
    background-color: #1e2a2f;
}

.prev_next_btn {
    margin-top: 10px;
}

.list_of_playlists {
    min-width: 450px;
    max-width: 450px;
    margin-top: 35px;
    margin-right: 4%;
    float: right;
}

/*PLAYER CONTROLS*/
.player_controls_container {
    width: 440px;
    display: inline-flex;
    margin-top: 47px;
    background-color: blue;
}

.player_controls_prev {
    cursor: default;
    width: 33.3%;
    height: 55px;
    line-height: 55px;
    text-align: center;
    vertical-align: middle; 
    background-color: #131d20;
    color: #ECEFF1;
}

.player_controls_prev:hover {
    background-color: #263238;
}

.player_controls_next {
    cursor: default;
    width: 33.3%;
    height: 55px;
    line-height: 55px;
    text-align: center;
    vertical-align: middle; 
    background-color: #131d20;
    color: #ECEFF1;
    border-left: 3px solid #263238;
    border-right: 3px solid #263238;    
}

.player_controls_next:hover {
    background-color: #263238;
}

.player_controls_restart {
    cursor: default;
    width: 33.3%;
    height: 55px;
    line-height: 55px;
    text-align: center;
    vertical-align: middle; 
    background-color: #131d20;
    color: #ECEFF1;
}

.player_controls_restart:hover {
    background-color: #263238;
}
