div {
    padding: 0px;
    margin: 0px;
}

nav {
    width: 100%;
    height: 95px;
    padding: 0px;
    margin: 0px;
    /*offset-x | offset-y | blur-radius | color */
    box-shadow: 0px 3px 4px #90A4AE;
    background-color: #1e2a2f;

    display: inline-block;
}

nav li {
    padding: 0px;
    margin: 0px;
    height: 60px;
}

.nav__home {
    float: left;
    font-size: 24px;
    padding-top: 15px;
    padding-right: 15px;
    color: #ECEFF1;

}

.nav__playlist {
    float: right;
    text-align: center;
    vertical-align: middle;
    line-height: 95px;
    height: 95px;
    font-size: 24px;
    padding-left: 15px;
    padding-right: 15px;

    color: #ECEFF1;
}

.nav__playlist:hover {
    background-color: #263238;
}

/*.playlistForm {
    top: 35%;
    left: 35%;
    padding: 17px;
    border-radius: 8px;
    position: absolute;
    min-width: 500px;
    z-index: 100;
    background-color: yellow;
    display: none;
}

.plistFormCancelBtn {
    margin: 0;
    padding: 0;
    float: right;
    width: 25px;
    height: 25px;
    text-align: center;

    padding-bottom: 100%;

    border-radius: 50%;
    overflow:hidden;
    
    background: #4679BD; 
    box-shadow: 0 0 3px gray;
}

.plistFormCancelBtn:hover {
    background: #30588e;
}
*/