div, h3 {
    margin: 0 auto;
    padding: 0;
}

.playlist_song:hover {
    background-color: blue;
}

.playlist_songs {
    display: none;
}

.playlist_title_container {
    width: 100%;
    text-align: center;
    background-color: #1e2a2f;
    color: #e6e9ea;
}

.playlist_title_container:hover {
    background-color: #263238;
}

.playlist_title {
    cursor: default;
    width: 100%;
    height: 35px;
    display: inline-block;
    border-bottom: 1px solid #263238;
    /*background-color: orange;*/
    padding-top: 17px;
}

.load_playlist_btn {
    cursor: default;
    text-align: center;
    vertical-align: middle;
    line-height: 35px;
    width: 50%;
    background-color: #37474F;
    border-right: 1px solid #485f6a;
}

.load_playlist_btn:hover {
    background-color: #263238;
}

.edit_playlist_btn {
    cursor: default;
    text-align: center;
    vertical-align: middle;
    line-height: 35px;
    width: 50%;
    background-color: #37474F;
}

.edit_playlist_btn:hover {
    background-color: #263238;
}

.playlistForm {
    display: none;
}

.playlist_options {
    padding: 0;
    margin: 0;    
    width: 100%;
    height: 35px;
    display: flex;
    color: #CFD8DC;
}